# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data & Models (Excluded from Git)
data/raw/
data/cleaned/
data/processed/
data/metadata/
models/*.h5
models/*.keras
models/*.pth
models/*.pkl

# Reports & Logs
logs/
reports/*.png
reports/*.json
reports/*.txt
!reports/keep.txt

# VS Code & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
